html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* That's the color of the buttons */
  color: rgb(207, 224, 236);
}

body {
  font-family: arial;
}

header {
  height: 1em;
}

.sampler {
  position: relative;

  width: 100%;
  height: calc(100% - 1em);
  box-sizing: border-box;
  padding: .3em 0 0 .3em;

  background: #333;
}

.samples, .sample-button {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.samples {
  width: 100%;
  height: 100%;
}

.sample-button {
  position: relative;
  display: block;
  float: left;

  overflow: hidden;

  width: calc(33.3333% - .3em);
  height: calc(33.3333% - .3em);
  margin: 0 .3em .3em 0;
  box-sizing: border-box;

  border-radius: .3em;
  background: currentColor;
  box-shadow: inset 0 0 70px 30px currentColor;

  cursor: pointer;
}

.sample-button.active {
  background: white;
}

.sample-button.loading {
  background-image: url("images/loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.sample-button.disabled {
  cursor: default;
}

.sample-button.disabled:after {
  content: "";
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 5%;

  transform-origin: top left;
  transform: rotate(45deg);
}

.sample-button .config {
  position: absolute;
  bottom: .5em;
  right: .5em;
  width: 1em;
  height: 1em;

  border-radius: 1em;
  background: #333;
}

.config-screen {
  display: none;
  position: absolute;
  z-index: 1;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: scroll;

  background: rgba(0, 0, 0, .8);
  border-radius: .3em;
  padding: 1em;

  color: white;
}

.config-screen.display {
  display: block;
}

.config-screen p {
  margin: 0 0 1vw 0;
  overflow: auto;
}

.config-screen label, .config-screen input {
  display: block;
  float: left;
  width: 50%;
  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 1vw;
  border: none;

  font-size: 3vw;
}

.config-screen input:focus {
  background-color: rgb(25, 185, 248);
}

.config-screen button {
  font-size: 3vw;
  padding: 1vw;
  border: none;
  background: white;
}

#keyCode {
  text-transform: uppercase;
}

#save, #cancel {
  position: absolute;
  bottom: 0;
  width: 50%;
  box-sizing: border-box;
  background: white;
}

#save:active, #cancel:active {
  background: gray;
}

#save {
  right: 0;
}

#cancel {
  left: 0;
}
